<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onlinevotingsystem">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineVotingSystem">
        <activity android:name=".RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".InfoActivity"/>
        <activity android:name=".ElectionActivity"/>
        <activity android:name=".ECAMainActivity"/>
        <activity android:name=".ECAVoterReviewActivity"/>
        <activity android:name=".MakeElectionActivity"/>
        <activity android:name=".ECMainActivity"/>
        <activity android:name=".ECInfoActivity"/>
        <activity android:name=".ECACandidateReviewActivity"/>
        <activity android:name=".ShowAllCurrentElections"/>
        <activity android:name=".ElectionCalculateResults"/>
        <activity android:name=".ResultsActivity"/>
    </application>

</manifest>